{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block nav %}
{% include "printers/nav.html" %}
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if version %}
	<h3>Edit Version</h3>
	  <form action={%url "version_edit" version.id %} method="POST" enctype="multipart/form-data">
	{% else %}
		<h3>Add Version</h3>
	<form action={% url "version_add" %} method="POST" enctype="multipart/form-data">
{% endif %}
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		<button type="submit" class="btn btn-primary">
				{% bootstrap_icon "star" %} Submit
		</button>
	{% endbuttons %}
	  </form>
{% endblock %}
