{% extends "base.html" %}
{% load i18n %}

{% block nav %}
{% include "printers/nav.html" %}
{% endblock %}

{% load bootstrap_toolkit %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if instance %}
	<h3>Edit Subnet Subscription List</h3>
    <form action={%url "subscription_list_edit" instance.id %} method="POST">{% csrf_token %}
{% else%}
	<h3>Add Subnet Subscription List</h3>
    <form action={%url "subscription_list_add" %} method="post">{% csrf_token %}
{% endif %}
        <table>	
            {{ form | as_bootstrap }}
        </table>
        <p><button type="submit" class="btn primary">Save</button></p>
    </form>
{% endblock %}
